/* CSS RESET -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* MAIN -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
main {
    display: flex;
    max-width: 100%;
    height: 100vh;
}
/* SIGN-IN LEFT SIDE ----------------------------------------------------------------------------------------------------*/
.signin-left {
    background: url(/assets/startmenu/lower-right.webp);
    background-size: cover;
    background-position: center;
    width: 50%;
    position: relative;
    z-index: -2;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}
/* FUN FACT */
.fun-fact {
    background-color: rgba(240, 248, 255, 0.76);
    color: black;
    padding: 40px;
    border-radius: 5px;
    min-width: 550px;
    max-width: 550px;
}
/* SIGN-IN RIGHT SIDE ------------------------------------------------------------------------------------------------------*/
.signin-right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4d535e;
}
/* FORMFIELD */
.form-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100rem;
    color: whitesmoke;
}
.form-field h3 {
    text-align: left;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 3px;
}
/* FORM */
form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    color: whitesmoke;
}
form input[type="text"], form input[type="email"],
form input[type="password"],form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
    font-size: 14px;
    background-color: #fff;
}
form input[type="submit"] {
    display: block;
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #00ADB5;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
form input[type="submit"]:hover {
    background-color: #009ea7;
    transform: scale(1.1);
}
.btn-submit {
    display: flex;
    justify-content: center;
}
/* FORM FOOTER */
.form-field p a {
    transition: 0.3s ease-in-out;
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
}
.form-field p a:hover {
    color: #6bf8ff;
}
.form-field p a:visited, .form-field p a:active {
    text-decoration: none;
}
